

.projects-section {
        background: -webkit-linear-gradient(left, rgb(0, 0, 15), rgb(1, 1, 56));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    text-align: center;
}

.projects-nav li {
    background-color: #202042;
    height: 50px;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
}

.projects-nav li::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:-webkit-linear-gradient(left,rgb(1, 1, 88),#088395);
    transition: 0.5s;
    border-radius: inherit;
}

.projects-nav li:first-child {
  border-radius: 30px 0 0 30px;
  border-right: none;
}

.projects-nav li:last-child {
  border-radius: 0 30px 30px 0;
  border-left: none;
}

.projects-nav li button {
  all: unset;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: inherit;
}

.projects-nav li.active::before {
  width: 100%;
}


.project-card {
  height: 300px;
  position: relative;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}


.project-card,
.project-card .card-img {
  border: none;
  border-radius: 30px !important;
  height: 100%;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
    background:-webkit-linear-gradient(left,rgb(1, 1, 88),#088395);
  border-radius: inherit;
  opacity: 0.9;
  transition: 0.5s;
}

.project-card:hover::before {
  height: 100%;
}

.project-card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  transition: 0.5s;
  opacity: 0;
}

.project-card:hover .card-img-overlay {
  top: 0;
  opacity: 1;
}

.cn-container{
  height: 600px ;
}
.cv-card{
  width: 300px;
  margin: auto;
}

/* SkillsSection.css */
.skills-section {
  padding: 10px 20px;
  color: #f1f5f9;
  text-align: center;
}

.skills-title {
  font-size: 50px;
  margin-bottom: 10px;
  color: #38bdf8;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-card {
  background: #1e293b;
  border-radius: 16px;
  padding: 20px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
  background: #334155;
}

