*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
  height: 3000px;
} */
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
button{
    border: none;
    background-color: none;
    cursor: pointer;
}